 openapi: 3.0.0

info:
  title: TrueLearner API
  version: 1.0.0
  description: Online learning platform API

servers:
  - url: http://localhost:8000/api


# Paths (API Endpoints)
paths:
  /auth/login/:
    post:
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login successful
        "400":
          description: Invalid credentials

# Components (Schema / Model definitions)
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string